@import "tailwindcss";

/* these are necessary styles for vue flow */
@import "@vue-flow/core/dist/style.css";
/* this contains the default theme, these are optional styles */
@import "@vue-flow/core/dist/theme-default.css";

.vue-flow__edge-path {
    stroke-width: 2px;
}

.vue-flow__node-person.selected {
    @apply shadow-xl outline-2 outline-blue-400;
    @apply focus:outline-2 focus:outline-blue-400;
}
