name: Run Go tests

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  test:
    name: "Run Go tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.0
      - name: Run tests
        # The application tries to embed al files under frontend/dist, and fails if there are none
        run: |
          mkdir -p frontend/dist
          touch frontend/dist/.gitignore
          go test -v ./...